<p-toast></p-toast>
<h1 class="text-center mt-3 mb-3">Réinitialise ton mot de passe :</h1>
<div class="shadow-lg pt-3 pb-3 bg-body-tertiary rounded">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <div class="row">
        <div class="col-3">
          <label for="newPassword">
            <h4>Nouveau mot de passe</h4>
          </label>
        </div>
        <div class="col-9">
          <input
            id="newPassword"
            type="password"
            class="input-wide"
            pInputText
            formControlName="newPassword"
          />
          <small
            *ngIf="
              resetPasswordForm.get('newPassword')?.hasError('required') &&
              resetPasswordForm.get('newPassword')?.touched
            "
            ><br />Le nouveau mot de passe est requis.</small
          >
        </div>
      </div>
    </div>
    <div class="p-field">
      <div class="row mt-2 mb-3">
        <div class="col-3">
          <label for="confirmPassword">
            <h4>Confirmer le mot de passe</h4>
          </label>
        </div>
        <div class="col-9">
          <input
            id="confirmPassword"
            type="password"
            class="input-wide"
            pInputText
            formControlName="confirmPassword"
          />
          <small
            *ngIf="
              resetPasswordForm.get('confirmPassword')?.hasError('required') &&
              resetPasswordForm.get('confirmPassword')?.touched
            "
            ><br />La confirmation du mot de passe est requise.</small
          >
        </div>
      </div>
    </div>
    <div *ngIf="resetPasswordForm.errors?.['notSame']">
      Les mots de passe ne correspondent pas. (min 8 caractèeres)
    </div>
    <button
      pButton
      type="submit"
      label="Réinitialiser le mot de passe"
    ></button>
  </form>
</div>
