<h1 *ngIf="!id" class="text-center mt-3 mb-3">Inscription</h1>
<h1 *ngIf="id" class="text-center mt-3 mb-3">Mon Compte</h1>
<div class="shadow-lg pt-3 pb-3 bg-body-tertiary rounded">
  <form [formGroup]="registrationForm" (ngSubmit)="save()">
    <div formGroupName="name">
      <div class="row pt-2 pb-2">
        <div class="col-6">
          <input
            type="text"
            pInputText
            formControlName="first"
            class="form-control"
            placeholder="Prénom"
          />
          <div
            *ngIf="
              registrationForm.get('name.first')?.invalid &&
              (registrationForm.get('name.first')?.dirty ||
                registrationForm.get('name.first')?.touched)
            "
          >
            <small
              *ngIf="registrationForm.get('name.first')?.errors?.['required']"
              class="text-danger"
              >Le prénom est obligatoire.</small
            >
            <small
              *ngIf="registrationForm.get('name.first')?.errors?.['pattern']"
              class="text-danger"
              >Le prénom doit être alphabétique.</small
            >
            <small
              *ngIf="registrationForm.get('name.first')?.errors?.['maxLength']"
              class="text-danger"
              >Le prénom est trop long.</small
            >
          </div>
        </div>

        <div class="col-6">
          <input
            type="text"
            formControlName="last"
            class="form-control"
            placeholder="Nom"
            pInputText
          />
          <div
            *ngIf="
              registrationForm.get('name.last')?.invalid &&
              (registrationForm.get('name.last')?.dirty ||
                registrationForm.get('name.last')?.touched)
            "
          >
            <small
              *ngIf="registrationForm.get('name.last')?.errors?.['required']"
              class="text-danger"
              >Le nom est obligatoire.</small
            >
            <small
              *ngIf="registrationForm.get('name.last')?.errors?.['pattern']"
              class="text-danger"
              >Le nom doit être alphabétique.</small
            >
            <small
              *ngIf="registrationForm.get('name.last')?.errors?.['maxLength']"
              class="text-danger"
              >Le nom est trop long.</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <input
            type="text"
            formControlName="pseudo"
            pInputText
            class="form-control"
            placeholder="Pseudo"
          />
          <div
            *ngIf="
              registrationForm.get('pseudo')?.invalid &&
              (registrationForm.get('pseudo')?.dirty ||
                registrationForm.get('pseudo')?.touched)
            "
          >
            <small
              *ngIf="registrationForm.get('pseudo')?.errors?.['required']"
              class="text-danger"
              >Le pseudo est obligatoire.</small
            >
            <small
              *ngIf="registrationForm.get('pseudo')?.errors?.['maxLength']"
              class="text-danger"
              >Le pseudo ne peut pas avoir plus de 50 caractères.</small
            >
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <input
            type="email"
            formControlName="email"
            class="form-control"
            pInputText
            placeholder="Email"
          />
          <div
            *ngIf="
              registrationForm.get('email')?.invalid &&
              (registrationForm.get('email')?.dirty ||
                registrationForm.get('email')?.touched)
            "
          >
            <small
              *ngIf="registrationForm.get('email')?.errors?.['required']"
              class="text-danger"
              >L'email est obligatoire.</small
            >
            <small
              *ngIf="registrationForm.get('email')?.errors?.['email']"
              class="text-danger"
              >Ce n'est pas un email valide.</small
            >
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" formControlName="role" />
    <div *ngIf="!id" class="row mt-2">
      <div class="col-6">
        <div class="form-group">
          <input
            type="password"
            placeholder="Mot de passe"
            formControlName="password"
            class="form-control"
            pInputText
          />
          <div
            *ngIf="
              registrationForm.get('password')?.errors &&
              (registrationForm.get('password')?.touched ||
                registrationForm.get('password')?.dirty)
            "
          >
            <small
              class="text-danger"
              *ngIf="registrationForm.get('password')?.errors?.['required']"
            >
              Le mot de passe est obligatoire.
            </small>
            <small
              class="text-danger"
              *ngIf="registrationForm.get('password')?.errors?.['minLength']"
            >
              Le mot de passe doit comporter au moins 8 caractères.
            </small>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <input
            type="password"
            placeholder="Confirmer le mot de passe"
            formControlName="confirmPassword"
            pInputText
            class="form-control"
          />
          <div
            *ngIf="
        registrationForm.errors?.['notSame'] &&
        (registrationForm.get('confirmPassword')?.touched ||
          registrationForm.get('confirmPassword')?.dirty)
      "
          >
            <small class="text-danger">
              Les mots de passe ne correspondent pas.
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="row pb-2 pt-2">
      <div class="col-6">
        <p-calendar
          formControlName="dateOfBirth"
          placeholder="Date de Naissance"
          [dateFormat]="'dd MM yy'"
        />
        <div
          *ngIf="
            registrationForm.get('dateOfBirth')?.invalid &&
            (registrationForm.get('dateOfBirth')?.dirty ||
              registrationForm.get('dateOfBirth')?.touched)
          "
        >
          <small
            *ngIf="registrationForm.get('dateOfBirth')?.errors?.['required']"
            class="text-danger"
          >
            La date de naissance est obligatoire.
          </small>
          <small
            *ngIf="registrationForm.get('dateOfBirth')?.errors?.['tropJeune']"
            class="text-danger"
          >
            Tu es trop Jeune, reviens plus tard !
          </small>
        </div>
      </div>

      <!-- Photo -->
      <div class="col-6">
        <input
          type="text"
          formControlName="photo"
          class="form-control"
          pInputText
          placeholder="Photo"
        />
      </div>
    </div>
    <div formGroupName="study">
      <div class="row mb-2">
        <div class="col-7">
          <p-dropdown
            class="fixed-width-dropdown"
            [options]="studyFields"
            formControlName="studyField"
            placeholder="Etudes Poursuivies"
          ></p-dropdown>
        </div>

        <div class="col-4">
          <p-dropdown
            [options]="years"
            formControlName="year"
            placeholder="Année"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div formGroupName="cap">
      <div class="row">
        <div class="col ms-2">
          <label for="hasCap">Coiffe</label>
          <p-radioButton
            class="ms-2"
            name="hasCap"
            value="false"
            [value]="false"
            label="Non"
            formControlName="hasCap"
          ></p-radioButton>
          <p-radioButton
            name="hasCap"
            [value]="true"
            label="Oui"
            formControlName="hasCap"
          ></p-radioButton>
        </div>
      </div>
      <div *ngIf="registrationForm.get('cap')?.get('hasCap')?.value === true">
        <div class="row mt-2">
          <div class="col-6 align-items-center pt-3">
            <p-dropdown
              [options]="cerclesList"
              formControlName="provider"
              class="fixed-width-dropdown"
              optionLabel="name"
              optionValue="id"
              placeholder="Origine"
            ></p-dropdown>
          </div>
          <div class="col-3 align-items-center">
            <span class="input-group-text">
              <i class="pi pi-star-fill" style="color: gold"></i>
            </span>
            <p-dropdown
              [options]="stars"
              formControlName="goldStars"
            ></p-dropdown>
          </div>
          <div class="col-3 align-items-center">
            <span class="input-group-text">
              <i class="pi pi-star"></i>
            </span>
            <p-dropdown
              [options]="stars"
              formControlName="silverStars"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div formGroupName="student_association">
      <div class="row">
        <div class="col ms-2">
          <label for="member">Membre d'une association</label>
          <p-radioButton
            class="ms-2"
            name="member"
            [value]="false"
            label="Non"
            formControlName="member"
          ></p-radioButton>
          <p-radioButton
            name="member"
            [value]="true"
            label="Oui"
            formControlName="member"
          ></p-radioButton>
        </div>
      </div>

      <div
        *ngIf="
          registrationForm.get('student_association')?.get('member')?.value ===
          true
        "
      >
        <div class="row mt-2">
          <div class="col-6 align-items-center pt-3">
            <p-dropdown
              [options]="cerclesList"
              formControlName="association_id"
              optionLabel="name"
              optionValue="_id"
              placeholder="Association"
              class="fixed-width-dropdown"
            ></p-dropdown>
          </div>

          <div class="col-6 align-items-center pt-3">
            <p-dropdown
              [options]="functionsList"
              formControlName="function"
              placeholder="Fonction"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button
        *ngIf="id"
        class="w-100"
        pButton
        type="submit"
        [disabled]="!registrationForm.valid"
      >
        Modifier
      </button>
      <button
        *ngIf="!id"
        class="w-100"
        pButton
        type="submit"
        [disabled]="!registrationForm.valid"
      >
        S' inscrire
      </button>
    </div>
  </form>

  <div class="card-footer ms-2 d-flex justify-content-between mt-3">
    <button (click)="goBack()" type="button" class="btn btn-dark">
      Retour
    </button>

    <a
      *ngIf="id"
      [routerLink]="['/auth/change-password']"
      class="btn btn-outline-warning"
      >Changer mot de passe</a
    >
  </div>
  <div class="card-footer ms-2 d-flex justify-content-between mt-3">
    <button (click)="goodBy()" *ngIf="id" class="btn btn-outline-danger">
      Supprimer Compte
    </button>
  </div>
</div>
