<main class="container mt-2" *ngIf="usersList">
  <ul>
    <div
      class="card mb-2 shadow"
      *ngFor="let user of paginatedUsersList"
      [ngClass]="{
        'bg-success-subtle': user.isFriend && currentUserId != user._id,
        'bg-warning-subtle': !user.isFriend && currentUserId != user._id
      }"
    >
      <div class="row">
        <div class="col-4">
          <img
            src="../../../../assets/logo_MyM_DallE.png"
            alt="Photo de {{ user.pseudo }}"
            class="card-img-top"
            style="width: 100px; height: 120px"
          />
          <div class="card-body">
            <p class="card-text">
              <i>{{ user.pseudo }}</i>
            </p>
            <p class="card-text">
              suivis :<i>{{ user.friends.length }}</i>
            </p>
          </div>
        </div>

        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">
              {{ user.name.first }} {{ user.name.last }}
            </h5>
            <p class="card-text">
              {{ user.study?.studyField }} <br />{{
                getYearLabel(user.study?.year)
              }}
            </p>
            <div *ngIf="user.cap?.hasCap">
              <p class="card-text">
                calotté : {{ user.cap?.goldStars }} {{ user.cap?.silverStars }}
              </p>
            </div>
            <p class="card-text">{{ user.friends.length }}</p>
            <p class="card-text">{{ user.address?.city }}</p>
            <a [routerLink]="['/userProfile', user._id]" class="btn btn-primary"
              >Voir le profil</a
            >
          </div>
        </div>
      </div>
    </div>
  </ul>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a
          class="page-link"
          href="javascript:void(0);"
          (click)="goToPage(currentPage - 1)"
          >&laquo;</a
        >
      </li>

      <li class="page-item" *ngIf="currentPage > 3">
        <a class="page-link" href="javascript:void(0);" (click)="goToPage(1)"
          >1</a
        >
      </li>
      <li class="page-item" *ngIf="currentPage > 4">...</li>

      <li
        *ngFor="let page of getVisiblePages()"
        class="page-item"
        [class.active]="currentPage === page"
      >
        <a
          class="page-link"
          href="javascript:void(0);"
          (click)="goToPage(page)"
          >{{ page }}</a
        >
      </li>

      <li class="page-item" *ngIf="currentPage < totalPages - 3">...</li>
      <li class="page-item" *ngIf="currentPage < totalPages - 2">
        <a
          class="page-link"
          href="javascript:void(0);"
          (click)="goToPage(totalPages)"
          >{{ totalPages }}</a
        >
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a
          class="page-link"
          href="javascript:void(0);"
          (click)="goToPage(currentPage + 1)"
          >&raquo;</a
        >
      </li>
    </ul>
  </nav>
</main>
