<p-toast></p-toast>
<div class="shadow-lg pt-3 pb-3 bg-body-tertiary rounded">
  <h1 class="text-center mt-3 mb-3">Réinitialisation du mot de passe :</h1>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <div class="row mt-3">
        <div class="col-12">
          <label for="email">
            <h4>Ton adresse mail :</h4>
          </label>
          <p>un lien de réinitialisation sera envoyée à cette adresse</p>
        </div>
        <div class="col-9 ms-3">
          <input
            id="email"
            type="email"
            class="input-wide mb-3"
            pInputText
            formControlName="email"
          /><br />
          <p
            *ngIf="
              forgotPasswordForm.get(['email'])?.hasError('required') &&
              forgotPasswordForm.get(['email'])?.touched
            "
          >
            L'email est requis.
          </p>
        </div>
      </div>
    </div>

    <button
      pButton
      type="submit"
      label="Envoyer le lien de réinitialisation"
      class="ms-3"
    ></button>
  </form>
</div>
