.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  font-size: 2em;
}

.word {
  display: inline-block;
  opacity: 0;
}

.content-container {
  position: relative; /* Cette position est relative pour les enfants absolus */
}

.background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; /* Pleine largeur sur les mobiles */
  height: auto; /* Hauteur automatique pour conserver l'aspect ratio */
  z-index: -1;
  object-fit: cover;
}
@media (min-width: 992px) {
  .background-image {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .background-image {
    width: 70%;
  }
}
