<p-toast></p-toast>
<h1 class="text-center mt-3 mb-3">Change ton mot de passe :</h1>
<div class="shadow-lg pt-3 pb-3 bg-body-tertiary rounded">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <div class="row">
        <div class="col-3">
          <label for="oldPassword">
            <h4>Ancien mot de passe</h4>
          </label>
        </div>
        <div class="col-9">
          <input
            id="oldPassword"
            type="password"
            class="input-wide"
            pInputText
            formControlName="oldPassword"
          />
          <div
            *ngIf="
              changePasswordForm.get('oldPassword')?.hasError('required') &&
              changePasswordForm.get('oldPassword')?.touched
            "
          >
            <br /><small>L' ancien mot de passe est requis.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="p-field">
      <div class="row mt-2">
        <div class="col-3">
          <label for="newPassword">
            <h4>Nouveau mot de passe</h4>
          </label>
        </div>
        <div class="col-9">
          <input
            id="newPassword"
            type="password"
            class="input-wide"
            pInputText
            formControlName="newPassword"
          />
          <div
            *ngIf="
              changePasswordForm.get('newPassword')?.hasError('required') &&
              changePasswordForm.get('newPassword')?.touched
            "
          >
            <br /><small
              >Le nouveau mot de passe est requis.<br />8 caractères min</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="p-field">
      <div class="row mt-2">
        <div class="col-3">
          <label for="confirmPassword">
            <h4>Confirmer le mot de passe</h4>
          </label>
        </div>
        <div class="col-9">
          <input
            id="confirmPassword"
            type="password"
            class="input-wide"
            pInputText
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              changePasswordForm.errors?.['notMatching']
            "
          >
            <br /><small>mots de passe ne correspondent pas.</small>
          </div>
        </div>
      </div>
    </div>
    <button pButton type="submit">Changer le mot de passe</button>
  </form>
</div>
