<div *ngIf="isAdmin" class="row justify-content-center align-items-center">
  <div class="row mt-5">
    <a routerLink="/adminEvents" class="btn btn-info"
      >Administration Evenements</a
    >
  </div>
  <div class="row mt-5">
    <a routerLink="/adminUsers" class="btn btn-warning"
      >Administration Utilisateurs</a
    >
  </div>
  <div class="row mt-5">
    <a routerLink="/adminLocations" class="btn btn-success"
      >Administration des Endroits
    </a>
  </div>
  <div class="row mt-5">
    <a routerLink="/adminCercles" class="btn btn-secondary"
      >Administration Cercles</a
    >
  </div>
  <div class="row mt-5">
    <a class="btn btn-light" routerLink="/">déconnection</a>
  </div>
</div>
