<div
  *ngIf="userConnectedIsAdmin"
  class="justify-content-center align-items-center"
>
  <div class="mt-5">
    <a routerLink="/adminEvents" class="btn btn-info w-100"
      >Administration Evenements</a
    >
  </div>
  <div class="mt-5">
    <a routerLink="/adminUsers" class="btn btn-warning w-100"
      >Administration Utilisateurs</a
    >
  </div>
  <div class="mt-5">
    <a routerLink="/adminLocations" class="btn btn-success w-100"
      >Administration des Endroits
    </a>
  </div>
  <div class="mt-5">
    <a routerLink="/adminCercles" class="btn btn-secondary w-100"
      >Administration Cercles</a
    >
  </div>
  <div class="mt-5">
    <button class="btn btn-light w-100" (click)="logout()">déconnection</button>
  </div>
</div>
