<div class="card m-3">
  <div *ngIf="user">
    <img
      src="../../../../assets/logo_MyM_DallE.png"
      class="card-img-top"
      alt="{{ user.name.first }} {{ user.name.last }}"
    />
    <div class="card">
      <div class="card-header">
        {{ user.name.first }} {{ user.name.last }} ({{ user.pseudo }})<br />
        {{ user.isFriend }}
      </div>
      <div class="card-body">
        <h5 class="card-title">Informations de base</h5>
        <p class="card-text">
          Email: {{ user.email }} <br />
          Date de naissance: {{ user.dateOfBirth | date : "dd/MM/yyyy" }} <br />
          Téléphone: {{ user.phone }} <br />
          Etudes: {{ user.study?.studyField }} ({{
            getStudyYearLabel(user.study?.year!)
          }})
        </p>

        <h5 class="card-title">Adresse</h5>
        <p class="card-text">
          {{ user.address?.street }} {{ user.address?.nbr }} <br />
          {{ user.address?.postCode }} {{ user.address?.city }} <br />
          {{ user.address?.country }}
        </p>

        <h5 class="card-title">Chapeau</h5>
        <p class="card-text">
          Fournisseur: {{ user.cap?.provider }} <br />
          Date de livraison: {{ user.cap?.deliveryDate | date : "dd/MM/yyyy" }}
          <br />
          Etoiles d'or: {{ user.cap?.goldStars }} | Etoiles d'argent:
          {{ user.cap?.silverStars }} <br />
          Commentaires: {{ user.cap?.comments }}
        </p>

        <h5 class="card-title">Associations et participations</h5>
        <p class="card-text">Cercles: <br />{{ user.cercle }}</p>
        <p class="card-text">Participations:</p>
        <ul>
          <li *ngFor="let participation of user.participations">
            {{ participation }}
          </li>
        </ul>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button [routerLink]="['/usersList']" type="button" class="btn btn-dark">
        Retour
      </button>
      <div *ngIf="userSelectedId">
        <button
          *ngIf="!(friendStatus$ | async) && !(currentUserId == userSelectedId)"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#addFriendModal"
        >
          Ajouter comme ami
        </button>

        <button
          *ngIf="friendStatus$ | async"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#removeFriendModal"
        >
          Supprimer de la liste d'amis
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="addFriendModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation !</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>
      <div class="modal-body">
        Veux-tu vraiment commencer à suivre {{ user?.pseudo }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="addFriend()"
        >
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="removeFriendModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Attention !</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>
      <div class="modal-body">
        Es-tu certain de vouloir arrêter de suivre {{ user?.pseudo }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="removeFriend()"
        >
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
