<div class="card m-3">
  <div *ngIf="user">
    <img
      alt="image icone user"
      class="mx-auto d-block"
      src="../../../../assets/user.png"
      style="width: 180px; height: 140px"
    />
    <div class="card">
      <div class="card-header">
        {{ user.name.first }} {{ user.name.last }} ({{ user.pseudo }})<br />
      </div>
      <div class="card-body">
        <h5 class="card-title">Informations de base</h5>
        <p class="card-text">
          Email: {{ user.email }} <br />
          Date de naissance: {{ user.dateOfBirth | date : "dd/MM/yyyy" }} <br />
          Téléphone: {{ user.phone }} <br />
          Etudes: {{ user.study?.studyField }} ({{
            getStudyYearLabel(user.study?.year!)
          }})
        </p>

        <h5 class="card-title">Adresse</h5>
        <p class="card-text">
          {{ user.address?.street }} {{ user.address?.nbr }} <br />
          {{ user.address?.postCode }} {{ user.address?.city }} <br />
          {{ user.address?.country }}
        </p>

        <h5 class="card-title">Chapeau</h5>
        <p class="card-text">
          Fournisseur: {{ user.cap?.provider }} <br />
          Date de livraison: {{ user.cap?.deliveryDate | date : "dd/MM/yyyy" }}
          <br />
          Etoiles d'or: {{ user.cap?.goldStars }} | Etoiles d'argent:
          {{ user.cap?.silverStars }} <br />
          Commentaires: {{ user.cap?.comments }}
        </p>

        <h5 class="card-title">Associations</h5>
        <p class="card-text">Cercles: {{ user.cercle }}</p>
        <p class="card-text">Participations:</p>
        <button class="btn btn-primary m-2 w-100" (click)="toggleEvents()">
          {{ showEvents ? " ^ " : "Voir ou va " + user.pseudo }}
        </button>

        <div *ngIf="showEvents">
          <ul class="list-group list-group-flush">
            <li *ngFor="let event of userEvents" class="list-group-item">
              {{ event.startAt | date : "dd/MM/yyyy HH:mm"
              }}<a
                [routerLink]="['/eventsDetail', event._id]"
                pTooltip="Voir le Profil de {{ user.pseudo }}"
                class="btn btn-info float-end"
              >
                <i class="bi bi-eye-fill"></i>
              </a>
              <br />{{ event.name }}<br />
              {{ event.description }}<br />
              participants : {{ event.participants_ids?.length }}
            </li>
          </ul>
        </div>
        <button class="btn btn-warning m-2 w-100" (click)="toggleFriends()">
          {{ showFriends ? " ^ " : "Voir les suivis de " + user.pseudo }}
        </button>
        <div *ngIf="showFriends">
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let friend of userFriends$ | async"
              class="list-group-item"
            >
              {{ friend.pseudo
              }}<a
                [routerLink]="['/userProfile', friend._id]"
                pTooltip="Voir le Profil de {{ user.pseudo }}"
                class="btn btn-info float-end"
              >
                <i class="bi bi-eye-fill"></i>
              </a>
              <br />
              {{ friend.name.first }} {{ friend.name.last }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button (click)="goBack()" type="button" class="btn btn-dark">
        Retour
      </button>
      <div *ngIf="userSelectedId">
        <button
          *ngIf="
            (friendStatus$ | async) === false &&
            currentUserId !== userSelectedId
          "
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#addFriendModal"
        >
          Ajouter comme ami
        </button>

        <button
          *ngIf="friendStatus$ | async"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#removeFriendModal"
        >
          Supprimer de la liste d'amis
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="addFriendModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sure</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>
      <div class="modal-body">
        Veux-tu vraiment commencer à suivre {{ user?.pseudo }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="addFriend()"
        >
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="removeFriendModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sure ?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>
      <div class="modal-body">
        Es-tu certain de vouloir arrêter de suivre {{ user?.pseudo }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="removeFriend()"
        >
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
