<p-toast></p-toast>
<div *ngIf="event">
  {{ event._id }}<br />
  {{ event.name }}<br />
  {{ event.description }}<br />
  {{ event.startAt }}<br />
  {{ event.endAt }}<br />
  <div *ngIf="event.organizer">{{ event.organizer[0].name }}<br /></div>
  <div *ngIf="event.location && event.location[0].address">
    {{ event.location[0].address.city }}<br />
  </div>
  <div *ngIf="event"></div>
  {{ event.participants?.[0]?.pseudo }} {{ event.participants?.[0]?._id }}
</div>
<button *ngIf="!isCurrentUserParticipating()" (click)="eventAddParticipant()">
  Assister
</button>
<button *ngIf="isCurrentUserParticipating()" (click)="eventRemoveParticipant()">
  Ne plus assister
</button>
